div.footer
	div. 
		Copyright 2015, HackRPI
	div
		a(href="https://github.com/hack-rpi/Admin-Board") Open Source
	div
		a(href="") Facebook
		a(href="") Twitter
		a(href="") Instagram
	
	script(src="/script/index.js")
